{% extends "base.html" %}

{% block title %}Course List{% endblock %}

{% block content %}
<h2>Course List</h2>

<table border="1" cellpadding="8">
  <tr>
    <th>Course Code</th>
    <th>Course Name</th>
    <th>Credits</th>
    <th>Capacity</th>
    <th>Details</th>
  </tr>

  {% for c in courses %}
  <tr>
    <td>{{ c[1] }}</td>
    <td>{{ c[2] }}</td>
    <td>{{ c[3] }}</td>
    <td>{{ c[4] }}</td>
    <td>
      <a href="{{ url_for('main.course_detail', course_id=c[0]) }}">
        View
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

<br>
<a href="{{ url_for('main.index') }}">&larr; Back to Student List</a>

{% endblock %}