{% extends "base.html" %}

{% block title %}Course Details{% endblock %}

{% block content %}

<h2 class="mb-3">
  {{ course.course_name }}
  <span class="text-muted">({{ course.course_code }})</span>
</h2>

<div class="mb-3">
  <a href="{{ url_for('main.edit_course', course_id=course.course_id) }}" class="btn btn-warning btn-sm">
    Edit Course
  </a>

  <form action="{{ url_for('main.delete_course', course_id=course.course_id) }}" method="POST" style="display:inline;"
    onsubmit="return confirm('Are you sure you want to delete this course?');">

    <button class="btn btn-danger btn-sm">Delete Course</button>
  </form>


</div>

<ul class="list-group mb-4">

  <li class="list-group-item">
    <strong>Department:</strong> {{ course.department_name }}
  </li>

  <li class="list-group-item">
    <strong>Instructor:</strong> {{ course.instructor_name }}
  </li>

  <li class="list-group-item">
    <strong>Credits:</strong> {{ course.credits }}
  </li>

  <li class="list-group-item">
    <strong>Level:</strong> {{ course.level }}
  </li>

  <li class="list-group-item">
    <strong>Capacity:</strong> {{ course.capacity }}
  </li>

  <li class="list-group-item">
    <strong>Enrollment:</strong>
    {{ course.enrolled_count }}/{{ course.capacity }}

    {% if course.enrolled_count >= course.capacity %}
    <span class="badge bg-danger ms-2">Full</span>
    {% endif %}
  </li>

</ul>

<h3>Enrolled Students</h3>

{% if enrollments %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>Semester</th>
      <th>Grade</th>
    </tr>
  </thead>

  <tbody>
    {% for e in enrollments %}
    <tr>
      <td>{{ e.student_id }}</td>

      <td>
        <a href="{{ url_for('main.student_detail', student_id=e.student_id) }}">
          {{ e.student_name }}
        </a>
      </td>

      <td>{{ e.status }}</td>

      <td>{{ e.term }} {{ e.year }}</td>

      <td>{{ e.grade if e.grade else '-' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No students enrolled yet.</p>
{% endif %}

<a href="{{ url_for('main.course_list') }}" class="btn btn-secondary mt-3">
  ← Back to Courses
</a>

{% endblock %}